@charset "utf-8";
/* CSS Document */

* {
	margin:0;
	padding:0;
}
html {
    overflow-y: scroll;
}
body {
    background: none repeat scroll 0 0 #FFFFFF;
    font:12px/1.5 "Hiragino Sans GB","Microsoft YaHei",黑体,宋体,sans-serif;
    margin: 0;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, p {
    margin: 0;
    padding: 0;
}
 a,span,h1,h2,h3,h4,h5,h6,p,button,li{

	text-overflow:ellipsis;
	white-space:nowrap; 
	 }
table, td, tr, th {
    font-size: 12px;
}
a{
	text-decoration:none;
	}
li {
    list-style-type: none;
}
img {
    border: 0 none;
    vertical-align: top;
}
fieldset{
	border:none;	
	}

ol, ul {
    list-style: none outside none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 12px;
    font-weight: normal;
}
address, cite, code, em, th {
    font-style: normal;
    font-weight: normal;
}
textarea {
    border: medium none;
    outline: medium none;
    overflow: auto;
    resize: none;
}
input, select {
     font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;
     outline: medium none;
 }
table {
    border-collapse: collapse;
    border-spacing: 0;
} 

.hidden {
    display: none;
}
.fB {
    font-weight: bold;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.cl{
 	clear:both;		
	}

.clearfix:after,ul:after,.area:after, .header:after, .footer:after, .content:after, .area-sub:after, .area-main:after, .main-col-10:after, .main-col-9:after, .tab-con:after,.top-header:After,.footer-inner:after,.input-item:after,.list-item-link:after{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.pb17 {
    padding-bottom: 17px;
}
.plr5 {
    padding: 0 5px;
}
.plr10 {
    padding: 0 10px;
}
.plrb10 {
    padding: 0 10px 10px;

}
.pl26 {
    padding-left: 26px;
}
.pr26 {
    padding-right: 26px;
}
.mlr5 {
    margin: 0 5px;
}
.mb18 {
    margin-bottom: 18px;
}
.mt60 {
    margin-top: 60px;
}
.mb60 {
    margin-bottom: 60px;
}
.pt1h {
    padding-top: 1px;
}
.pt2h {
    padding-top: 2px;
}
.pt5h {
    padding-top: 5px;
}
.pt7h {
    padding-top: 7px;
}
.pt15h {
    padding-top: 15px;
}
.pt16h {
    padding-top: 16px;
}
.pb12h {
    padding-bottom: 12px;
}
.pt10h {
    padding-top: 10px;
}
.pt20h {
    padding-top: 20px;
}
.pt60h {
    padding-top: 60px;
}
.pb10h {
    padding-bottom: 10px;
}
.pb15h {
    padding-bottom: 15px;
}
.pb19h {
    padding-bottom: 19px;
}
.pb25h {
    padding-bottom: 25px;
}
.pb30h {
    padding-bottom: 30px;
}
.pb32h {
    padding-bottom: 32px;
}
.pb40h {
    padding-bottom: 40px;
}
.pb60h {
    padding-bottom: 60px;
}
.pl15w {
    padding-left: 15px;
}
.tb20h {
    padding-top: 20px;
}
.w200 {
    width: 200px;
}
.w300 {
    width: 300px;
}
.w390 {
    width: 390px;
}
.w620 {
    width: 620px;
}
.h391 {
    height: 391px;
}
.blankW {
    background: none repeat scroll 0 0 #FFFFFF;
}
.blank1 {
    clear: both;
    display: block;
    font-size: 1px;
    height: 1px;
    overflow: hidden;
}
.blank3 {
    clear: both;
    display: block;
    font-size: 1px;
    height: 3px;
    overflow: hidden;
}
.blank6 {
    clear: both;
    display: block;
    font-size: 1px;
    height: 6px;
    overflow: hidden;
}
.blank9 {
    clear: both;
    display: block;
    font-size: 1px;
    height: 9px;
    overflow: hidden;
}

.blank9w {
    background: none repeat scroll 0 0 #FFFFFF;
    clear: both;
    display: block;
    font-size: 1px;
    height: 9px;
    overflow: hidden;
}
.blank10 {
    clear: both;
    display: block;
    font-size: 1px;
    height: 10px;
    overflow: hidden;
}
.blank12 {
    clear: both;
    display: block;
    height: 12px;
    overflow: hidden;
}
.blank15 {
    clear: both;
    display: block;
    height: 15px;
    overflow: hidden;
}
.blank20 {
    clear: both;
    display: block;
    height: 20px;
    overflow: hidden;
}
.blank23 {
    clear: both;
    display: block;
    height: 23px;
    overflow: hidden;
}
.blank30 {
    clear: both;
    display: block;
    height: 30px;
    overflow: hidden;
}
a {
    color: #252525;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    color: #2a6b3a;
	text-decoration:underline;

}
a:active {
    color: #2a6b3a;
}
.more a:hover {
    color: #2a6b3a;
}
.more a, .more a:visited {
    color: #888888;
}
.pic-text-title h2 {
    font-size: 14px;
}
.btn-dualwrap {
    cursor: pointer;
    display: inline-block;
    margin-left: 15px;
    margin-top: 5px;
    overflow: hidden;
    position: relative;
    text-align: left;
}
.btn-dualwrap .btn-over {
    -moz-user-select: none;
}
.btn-dualwrap .btn-over {
    border-radius: 3px;
}
.btn-dualwrap .btn-over {
    transition: all 250ms linear 0s;
}
.btn-dualwrap .btn-over {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 0;
}
.btn-dualwrap .btn-over {
    width: 0;
}
.btngrp-card {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C2C2C2;
    border-radius: 3px;
}
.btngrp-card {
    display: inline-block;
    vertical-align: middle;
}
.btngrp-card .btn-card {
    border: medium none;
    display: block;
    float: left;
}
.btngrp-card .btn-label {
    border-right: 1px solid #C2C2C2;
}
.btngrp-card .btn-label, .btngrp-card .btn-count {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
}
.btngrp-card .btn-count {
    transition: opacity 500ms linear 0s;
}
.btngrp-card .btn-count {
    color: #E78075;
    text-align: center;
}
.btngrp-card .btn-jump-out {
    opacity: 0;
    transform: translate(0px, -20px);
    transition: -moz-transform 500ms ease-out 0s, opacity 500ms linear 0s;
}
.btn-over .btngrp-card {
    background: none repeat scroll 0 0 #DD4232;
    border: 1px solid #DD4232;
}
.btn-over .btngrp-card .btn-label, .btn-over .btngrp-card .btn-count {
    color: #FFFFFF;
}
.btn-over .btngrp-card .btn-label {
    border-right: 1px solid #DB5E52;
}
.btngrp-card, .btn-over {
    overflow: hidden;
}

