<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
        }
         ul li{
             padding: 20px;
             border: 3px solid #00b3ee;
             float:left;
             margin-right:15px;
         }
      ul li a{
        display: block;
        border: 1px solid #FF1632;
        margin-bottom:3px;
        text-align: center;
        padding:5px;
       }

    </style>
</head>
<body>
  <div id="hasPosts">
     <span>以下是</span><b style="color: #FF1632" id="userName">admin</b>用户发表的文章
      <!--<ul>-->
         <!--<li><a href="">标题</a><a href="">事件</a><a href="">作者</a><a href="">内额分别开见表格恐惧感表空间仍和人家容</a></li>-->
      <!--</ul>-->
  </div>

<div id="noPosts">
    暂无内容
    <a href="/api/post">去发表吧</a>
</div>

  <script>
        var hasPost = document.getElementById('hasPosts');
        var noPost = document.getElementById('noPosts');
        var userName = document.getElementById('userName');
        var ajax = new XMLHttpRequest();
        setTimeout(function(){
            ajax.open('get','/sendUser',false);
            ajax.onreadystatechange = function(){
                if(ajax.readyState == 4 && ajax.status == 200){
                    var userData = JSON.parse(ajax.responseText)
                    userName.innerHTML = userData.name;
                }
            }
            ajax.send();
        },0)
        setTimeout(function(){
            ajax.open('get','/sendContent',false);
            ajax.onreadystatechange = function(){
                if(ajax.readyState == 4 && ajax.status == 200){
                    noPost.style.display = 'none';
                    var content = JSON.parse(ajax.responseText)
                    var newUl = document.createElement('ul');

                    for(var i=0;i<content.length;i++){
                        var newLi = document.createElement('li');
                        newLi.innerHTML = content[i].content;
                        newUl.appendChild(newLi);
                    }
                      hasPost.appendChild(newUl);
                }
            }
            ajax.send();
        },0)

  </script>
</body>
</html>