*{
    margin:0;
    padding:0;
}
#gamecontainer{
    width: 640px;
    height: 480px;
    background: url("../img/splashscreen.png");
    border: 1px solid black;
}
.gamelayer{
    width: 640px;
    height: 480px;
    position: absolute;
    display: none;
}

/*开始菜单画面*/
#gamestartscreen{
    padding-top: 250px;
    text-align: center;
}
#gamestartscreen img{
    margin: 0 auto 20px;
    display: block;
    cursor: pointer;
}
/*关卡选择*/

#levelselectscreen{
    padding-top:150px;
    padding-left:50px;
}
#levelselectscreen input{
    width: 64px;
    height: 64px;
    margin: 10px;
    border: 0;
    cursor: pointer;
    color: yellow;
    font-size: 20px;
    background: url("../img/icons/level.png") no-repeat;
}

/*加载画面*/
#loadingscreen{
    background: rgba(100,100,100,0.3);
}
#loadingmessage{
    margin-top:400px;
    text-align: center;
    height: 48px;
    color: white;
    background: url("../img/loader.gif") no-repeat center;
    font:12px Arial;
}


/*计分板*/
#scorescreen{
    height: 60px;
    font: 32px Comic Sans MS;
    text-shadow: 0 0 2px #000;
    color: #ffffff;
}
#scorescreen img{
    opacity: 0.6;
    top: 10px;
    position: relative;
    padding-left: 10px;
    cursor: pointer;
}
#scorescreen #score{
    position: absolute;
    top: 5px;
    right: 20px;
}
/*结束画面*/
#endingScreen{
    text-align: center;

}
#endingScreen div{
    height: 430px;
    padding-top: 50px;
    padding-left:100px;
    border:1px;
    background:rgba(1,1,1,0.5);
    text-align: left;
}
#endingScreen p{
    font: 20px "Comic Sans MS";
    text-shadow: 0 0 2px #000;
    color: white;
}
#endingScreen p img{
    top:10px;
    position: relative;
    cursor: pointer;
}
#endingScreen #endingMessage{
    font: 32px Comic Sans MS;
    text-shadow: 0 0 2px #000;
    color: white;
}
